.navbar{
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

img.logo{
    width: 130px;
    cursor: pointer;
}

button.login{
    padding: 8px 20px;
    background: var(--color-main1);
    border: none;
}