.footer_top-content{
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: system-ui;
    margin-bottom: 25px;
    border-left: 5px solid;
    padding-left: 10px;
}
ul.footer_top-ul {
    padding: 0 0 0 15px;
}

li.footer_top-li{
    list-style: none;
}
.footer_top-partners{
    display: flex;
    flex-wrap: wrap;
}

.footer_top-partner{
    width: 51%;
    height: 41px;
    margin: 0 10px;
}
.footer_top-partner.visa{
    background: url(../../assets//images//partner.png) no-repeat center;
    background-position: 74%  0.076142%;
}
.footer_top-partner.jcb{
    background: url(../../assets//images//partner.png) no-repeat center;
    background-position: 44.9% 1.37634%
}