.fullslide{
    height:100vh;
}

.footer{
    padding: 50px 40px 0 40px;
    position: relative;
    z-index: 0;
    height:100%;
    padding:50px 40px 0 40px;
}

.footer::before{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.footer .container{
    background: #000000;
    max-width: 100%!important;
    padding:50px 50px 0 50px;
    position: relative!important;
}
